@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<<<<<<< HEAD
<table >
    <thead>
=======

@model List<Collection>

<table class="table table-bordered">
    <thead class="fw-bold">

        <tr>
            <td>Categories</td>
            <td>Title</td>
            <td>Year</td>
            <td>Director</td>
            <td>Rating</td>
            <td>Edited</td>
            <td>Lent To</td>
            <td>Notes</td>
        </tr>
    </thead>

<<<<<<< HEAD
    <tbody>

    </tbody>
</table>

    @foreach (var row in Model)
    {
    <tbody>
        <tr>
            <td>@row.CategoryId</td>
            <td>@row.Title</td>
            <td>@row.Year</td>
            <td>@row.Director</td>
            <td>@row.Rating</td>
            <td>@row.Edited</td>
            <td>@row.LentTo</td>
            <td>@row.CopiedToPlex</td>
            <td>@row.Notes</td>

            <td><a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@row.MovieId">Edit</a></td>
            <td><a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@row.MovieId">Delete</a></td>

        </tr>
    </tbody>
    }
</table>

