@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<Collection>

<table class="table table-bordered table-striped">
    <thead class="fw-bolder text-white bg-dark">
        <tr>
            <th>Movie ID</th>
            <th>Categories</th>
            <th>Title</th>
            <th>Year</th>
            <th>Director</th>
            <th>Rating</th>
            <th>Edited</th>
            <th>Lent To</th>
            <th>Copied To Plex</th>
            <th>Notes</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var row in Model)
        {
            <tr>
                <td>@row.MovieId</td>
                <td>@row.CategoryId</td>
                <td>@row.Title</td>
                <td>@row.Year</td>
                <td>@row.Director</td>
                <td>@row.Rating</td>
                <td>@row.Edited</td>
                <td>@row.LentTo</td>
                <td>@row.CopiedToPlex</td>
                <td>@row.Notes</td>
                <td>
                    <div class="btn-group" role="group">
                        <a class="btn btn-info btn-light-blue" asp-controller="Home" asp-action="Edit" asp-route-id="@row.MovieId">Edit</a>
                        <a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@row.MovieId">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>



